.pageContainer{
    display: flex;
    height: 100vh;
    width: 100vw;
}

.halfWidthCont{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

  .input{
    margin-top: 40px;
  }